{% extends 'base.html.twig' %}

{% block title %}{{ settings('categories_title') }}{% endblock %}

{% block seo_description %}{{ settings('categories_description') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/page_title_with_breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/category/main_categories.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/category/main_categories-responsive.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    {% include 'elements/page_title_with_breadcrumbs.html.twig' %}
{#    <div class="categories">{{ 'category.name'|trans }}</div>#}
    <div class="categories-wrapper">
        {% for category in categories %}
            <div class="category">
                <div class="title">
                    <p class="text" onclick="location.href='{{ category.link }}'">{{ category.title }}</p>
                    <i class="arrow_right"></i>
                </div>
                <div class="subcategories_wrapper">
                    {% for childCategory in category.childCategories %}
                        <a href="{{ childCategory.link }}" class="sub_category">{{ childCategory.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main_categories.js') }}"></script>
{% endblock %}
