{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/single_product.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/single_product-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/page_title_with_breadcrumbs.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    {% include 'elements/page_title_with_breadcrumbs.html.twig' %}
    <div class="product_wrapper">
        <img src="{{ product.image }}">
        <div class="usage">
            <div class="title">{{ 'product.usage'|trans }}</div>
            <div class="text">{{ product.usage|raw }}</div>
        </div>
        <div class="quantity">
            <div class="text">{{ 'product.amount'|trans }}:</div>
            <div class="controls" data-id="{{ product.id }}">
                <span class="minus">-</span><span class="number product-amount">{{ product.cartAmount ?? 1 }}</span><span class="plus">+</span>
            </div>
        </div>
        <div class="final_price">
            <div class="text">{{ 'product.total'|trans }}:</div>
            <div class="price">${{ product.price }}</div>
        </div>
        <div class="add_to_cart {% if product.inCart == true %}active{% endif %}">
            <img src="{{ asset('img/icons/cart.png') }}">
            <div>{{ 'home.add_to_cart'|trans }}</div>
        </div>
    </div>
    <div class="description">
        <div class="title">{{ 'product.description'|trans }}</div>
        <div class="text">{{ product.description|raw }}</div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
