<footer>
    <div class="first-col">
        <div class="hrefs">
            <a href="https://octowice.com">MDIClogo</a>
            <a href="tel:11">{{ settings('phone') }}</a>
        </div>
        <div class="social_net">
            <div class="title">{{ 'common.social_networks'|trans }}</div>
            <div class="logos">
                <a href="{{ settings('facebook') }}"><img src="{{ asset('img/icons/fb.png') }}"></a>
                <a href="{{ settings('instagram') }}"><img src="{{ asset('img/icons/insta.png') }}"></a>
            </div>
        </div>
        <a class="octowice" href="https://octowice.com">
            <img src="{{ asset('img/logo.png') }}">
        </a>
    </div>
    <div class="second_third-col">
        <div>MDIClogo</div>
        <a href="{{ path('main_categories') }}">{{ 'navbar.product'|trans }}</a>
        <a href="{{ path('about_us') }}">{{ 'navbar.about_us'|trans }}</a>
    </div>
    <div class="second_third-col">
        <div>{{ 'common.customers'|trans }}</div>
        <a href="{{ path('blog_index') }}">{{ 'navbar.blog'|trans }}</a>
        <a href="{{ path('contacts') }}">{{ 'navbar.contact'|trans }}</a>
        <a href="{{ path('shipping_and_payment') }}">{{ 'common.shipping_and_payment'|trans }}</a>
    </div>
</footer>
