<header>
    <input type="checkbox" id="menuToggle" autocomplete="off">
    <label for="menuToggle" class="menuOpen">
        <div class="open"></div>
    </label>
    <div class="menu menuEffects">
        <div class="menuContent">
            <a class="menu-item" href="#">{{ 'navbar.product'|trans }}</a>
            <a class="menu-item" href="#">{{ 'navbar.about_us'|trans }}</a>
            <a class="menu-item" href="#">{{ 'navbar.blog'|trans }}</a>
            <a class="menu-item" href="#">{{ 'navbar.contact'|trans }}</a>
        </div>
        <a class="header_tel" href="tel:11">+38 (066) 052-14-36</a>
    </div>
    <div class="logo">
        MDIClogo
    </div>
    <div class="cart-trigger">
        <img src="{{ asset('img/icons/cart.png') }}">
    </div>
    <div class="cart-wrapper">
        <div class="shadow-filter"></div>
        <div class="cart">
            <div class="lds-dual-ring"></div>
            <div class="title">Мои покупки</div>
            <div class="cart_list">
                <div class="item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="name">Но-шпа ( Ношпа )</div>
                        <div class="price">
                            <div class="quantity">
                                <span class="minus">-</span><span class="number">1</span><span class="plus">+</span>
                            </div>
                            <div class="final_price">80.50 $</div>
                        </div>
                        <div class="delete">✕</div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="name">Но-шпа ( Ношпа )</div>
                        <div class="price">
                            <div class="quantity">
                                <span class="minus">-</span><span class="number">1</span><span class="plus">+</span>
                            </div>
                            <div class="final_price">80.50 $</div>
                        </div>
                        <div class="delete">✕</div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="name">Но-шпа ( Ношпа )</div>
                        <div class="price">
                            <div class="quantity">
                                <span class="minus">-</span><span class="number">1</span><span class="plus">+</span>
                            </div>
                            <div class="final_price">80.50 $</div>
                        </div>
                        <div class="delete">✕</div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="name">Но-шпа ( Ношпа )</div>
                        <div class="price">
                            <div class="quantity">
                                <span class="minus">-</span><span class="number">1</span><span class="plus">+</span>
                            </div>
                            <div class="final_price">80.50 $</div>
                        </div>
                        <div class="delete">✕</div>
                    </div>
                </div>
            </div>
            <div class="total">
                Всего к оплате:<span>161.00 $</span>
            </div>
            <a href="#" class="to_cart">ОФОРМИТЬ ЗАКАЗ</a>
            <a href="#" class="back_to_shopping">← Продолжить покупки</a>
        </div>
    </div>
</header>
