<header>
    <input type="checkbox" id="menuToggle" autocomplete="off">
    <label for="menuToggle" class="menuOpen">
        <div class="open"></div>
    </label>
    <div class="menu menuEffects">
        <div class="menuContent">
            <a class="menu-item" href="{{ path('index') }}">{{ 'navbar.home'|trans }}</a>
            <a class="menu-item" href="{{ path('main_categories') }}">{{ 'navbar.product'|trans }}</a>
            <a class="menu-item" href="{{ path('about_us') }}">{{ 'navbar.about_us'|trans }}</a>
            <a class="menu-item" href="{{ path('blog_index') }}">{{ 'navbar.blog'|trans }}</a>
            <a class="menu-item" href="{{ path('contacts') }}">{{ 'navbar.contact'|trans }}</a>
            {% if app.request.cookies.get('orders') is not empty %}
                <a class="menu-item orders_history_mobile" href="{{ path('orders_history') }}">{{ 'navbar.history'|trans }}</a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="menu-item orders_history_mobile" target="_blank" href="{{ path('admin_index') }}">Админ панель</a>
            {% endif %}
        </div>
        <a class="header_tel" href="tel:11">+38 (066) 052-14-36</a>
    </div>
    <div class="logo" onclick="location.href='{{ path('index') }}'">
        MDIClogo
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="orders_history" target="_blank" href="{{ path('admin_index') }}">Админ панель</a>
    {% endif %}

    {% if app.request.cookies.get('orders') is not empty %}
        <a class="orders_history" href="{{ path('orders_history') }}">{{ 'navbar.history'|trans }}</a>
    {% endif %}

    {% set ru_params = app.request.attributes.get('_route_params')|merge({'_locale': 'ru'}) %}
    {% set en_params = app.request.attributes.get('_route_params')|merge({'_locale': 'en'}) %}
    <div class="lang-panel">
        <a class="lang {{ app.request.locale=='en' ? 'active' : null  }}" href="{{ path(app.request.attributes.get('_route'), en_params) }}">en</a>
        <a class="lang {{ app.request.locale=='ru' ? 'active' : null  }}" href="{{ path(app.request.attributes.get('_route'), ru_params) }}">ru</a>
    </div>
    {% if disable_cart is not defined %}
        <div class="cart-trigger">
            <img src="{{ asset('img/icons/cart.png') }}">
        </div>
    <div class="cart-wrapper">
        <div class="shadow-filter"></div>
        <div class="cart">
            <div class="lds-dual-ring"></div>
            <div class="title">{{ 'cart.my_cart'|trans }}</div>
            <div class="cart_list">

            </div>
            <div class="total">
                {{ 'cart.total'|trans }}:<span></span>
            </div>
            <a href="{{ path('checkout_index') }}" class="to_cart">{{ 'cart.make_order'|trans }}</a>
            <a href="#" class="back_to_shopping">← {{ 'cart.continue'|trans }}</a>
        </div>
    </div>
    {% endif %}
</header>
