{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/blog/contacts.css') }}?v={{ fileVersion }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <div class="contacts_wrapper">
        <div class="info">
            <div class="content">
                <h1>Контакты</h1>
                <div class="list">
                    <div class="item">
                        <svg width="30" height="36" viewBox="0 0 30 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 0C6.72907 0 0 6.62393 0 14.7656C0 21.33 4.39425 27.0851 10.7458 28.9284L14.0416 35.4169C14.2232 35.7742 14.594 36 15 36C15.4057 36 15.7768 35.7742 15.9581 35.4169L19.2539 28.9286C25.6057 27.0854 30 21.3302 30 14.7656C30 6.62393 23.2709 0 15 0V0ZM15 18.9844C12.6367 18.9844 10.7143 17.092 10.7143 14.7656C10.7143 12.4393 12.6367 10.5469 15 10.5469C17.3633 10.5469 19.2857 12.4393 19.2857 14.7656C19.2857 17.092 17.3633 18.9844 15 18.9844Z" fill="#859878"/>
                        </svg>
                        {{ settings('address') }}
                    </div>
                    <div class="item">
                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.2765 23.0296L23.3592 18.8318C21.9602 17.3325 19.5819 17.9323 19.0223 19.8812C18.6026 21.2306 17.2036 21.9802 15.9444 21.6803C13.1464 20.9307 9.36907 17.0327 8.66956 13.8842C8.24986 12.5349 9.08927 11.0356 10.3484 10.5859C12.1671 9.9862 12.7267 7.43748 11.3277 5.93824L7.41045 1.74035C6.29124 0.690879 4.61242 0.690879 3.63311 1.74035L0.974983 4.58892C-1.68314 7.58741 1.25479 15.5334 7.83016 22.5799C14.4055 29.6263 21.8203 32.9247 24.6183 29.9262L27.2765 27.0776C28.2558 25.8782 28.2558 24.0791 27.2765 23.0296Z" fill="#859878"/>
                        </svg>
                        {{ settings('phone') }}
                    </div>
                    <div class="item">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path style="transform: translate(15px,5px);" d="M1.71429 0C0.767997 0 0 0.696886 0 1.55556V12.4444C0 13.3031 0.767997 14 1.71429 14H10.2857C11.232 14 12 13.3031 12 12.4444C12 11.5858 11.232 10.8889 10.2857 10.8889H3.42857V1.55556C3.42857 0.696886 2.66057 0 1.71429 0Z" fill="#859878"/>
                            <path d="M30.4224 8.94617C29.7182 9.28684 29.4235 10.1342 29.7642 10.8381C30.6949 12.7607 31.1667 14.8331 31.1667 17C31.1667 24.8114 24.8114 31.1667 17 31.1667C9.18862 31.1667 2.83333 24.8114 2.83333 17C2.83333 9.18862 9.18862 2.83333 17 2.83333C20.237 2.83333 23.2778 3.8903 25.7947 5.88975C26.4051 6.37708 27.2978 6.27504 27.7851 5.66252C28.2725 5.05033 28.1704 4.15869 27.5576 3.67206C24.5779 1.30391 20.8284 0 17 0C7.62669 0 0 7.62669 0 17C0 26.3733 7.62669 34 17 34C26.3733 34 34 26.3733 34 17C34 14.4025 33.4328 11.9134 32.3142 9.60435C31.9743 8.89878 31.1241 8.6048 30.4224 8.94617Z" fill="#859878"/>
                        </svg>
                        {{ settings('schedule')|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
