{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/blog/main.css') }}?v={{ fileVersion }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/page_title_with_breadcrumbs.css') }}?v={{ fileVersion }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/blog_grid.css') }}?v={{ fileVersion }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/elements/blog_grid-responsive.css') }}?v={{ fileVersion }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    {% include 'elements/page_title_with_breadcrumbs.html.twig' %}
    <div class="blog-wrapper">
        {% include 'elements/blog_grid.html.twig' %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
