<div id="sidebar" class="sidebar py-3">
    <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family"></div>
    <ul class="sidebar-menu list-unstyled">
        <li class="sidebar-list-item"><a href="{{ path('admin_index_show') }}" class="sidebar-link text-muted"><i class="o-home-1 mr-3 text-gray"></i><span>Главная</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_main_page_slider_index') }}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Слайдер</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_category_index') }}" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Категории</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_product_index') }}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Товары</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_article_index') }}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Блог</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_settings_index') }}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Общие настройки</span></a></li>
        <li class="sidebar-list-item"><a href="{{ path('admin_orders_index') }}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Заказы</span></a></li>
    </ul>
</div>
