{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container-fluid px-xl-5">
        <section class="py-5">
            <div class="row">
                <div class="col-lg-12 mb-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="text-uppercase mb-0">
                                Категории
                                <a href="{{ path('admin_category_create') }}" class="btn btn-primary">Создать категорию</a>
                            </h6>
                        </div>
                        <div class="card-body">
                            <table class="table card-text table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Тайтл</th>
                                    <th>Фото</th>
                                    <th>Сео описание</th>
                                    <th>Редактировать</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <th scope="row">{{ category.id }}</th>
                                        <td>{{ category.title }}</td>
                                        <td><img style="width: 200px; height: 200px; object-fit: contain" src="{{ category.image }}"></td>
                                        <td>{{ category.seoTitle }}</td>
                                        <td>
                                            <a href="{{ path('admin_category_update', {id: category.id}) }}" class="btn btn-primary">Редактировать</a>
                                        </td>
                                        <td>
                                            <a data-id="{{ category.id }}" style="color: white" class="btn btn-primary remove-category">Удалить</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('click', '.remove-category', function () {
            let id = $(this).attr('data-id');
            if (confirm('Внимание. Удаление этой категории приведёт к удаления всех вложенных категорий, товаров. Вы уверены, что хотите продолжить?')) {
                location.href = '/admin_panel/category/remove/' + id;
            }
        });
    </script>
{% endblock %}