{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/index_page.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/index_page-responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="swiper-container">
        {% include 'elements/header.html.twig' %}
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-footer">
            <div class="lang-panel">
                <div class="lang active">RU</div>
                <div class="lang">EN</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="popular_products-wrapper">
        <div class="popular_products-title">Популярные товары</div>
        <div class="popular_products-grid">
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="col-3 popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
        </div>
    </div>
    <div class="popular_categories-wrapper">
        <div class="popular_categories-title">
            Популярные категории
            <a href="#" class="all_categories">ВСЕ КАТЕГОРИИ</a>
        </div>
        <div class="popular_categories-grid">
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
        </div>
        <a href="#" class="all_categories-mobile">ВСЕ КАТЕГОРИИ</a>
    </div>
    <div class="blog-wrapper">
        <div class="blog-title">Блог</div>
        <div class="blog-grid">
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
{#                    <div class="text">Новость, блог и информация Новость, блог и информация Новость, блог и информацияНовость, блог и информацияНовост блоинформация..</div>#}
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
            <div class="blog-grid_item">
                <div class="overlay"></div>
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="info">
                    <div class="title">Заголовок</div>
                    <div class="text">
                        <div>
                            <p>Call me Ishmael.  Some years ago &ndash; never mind how long precisely &ndash; having little or no money in my purse, and nothing particular to interest me on shore, I thought I would sail about a little and see the watery part of the world.  It is a way I have of driving off the spleen, and regulating the circulation.  Whenever I find myself growing grim about the mouth; whenever it is a damp, drizzly November in my soul; whenever I find myself involuntarily pausing before coffin warehouses, and bringing up the rear of every funeral I meet; and especially whenever my hypos get such an upper hand of me, that it requires a strong moral principle to prevent me from deliberately stepping into the street, and methodically knocking people's hats off &ndash; then, I account it high time to get to sea as soon as I can.</p>
                        </div>
                    </div>
                    <a href="#" class="more">ДАЛЬШЕ ›</a>
                </div>
            </div>
        </div>
        <a href="#" class="to_blog">ПЕРЕЙТИ К БЛОГУ</a>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="{{ asset('js/index_page.js') }}"></script>
{% endblock %}
