{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/index_page.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/index_page-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/categories_grid.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/elements/categories_grid-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/products_grid.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/elements/products_grid-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/elements/blog_grid.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/elements/blog_grid-responsive.css') }}">
{% endblock %}
{% block body %}
    <div class="swiper-container">
        {% include 'elements/header.html.twig' %}
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="swiper-slide swiper-lazy" data-background="{{ slide.image }}" style="background: center / cover no-repeat;">
                    {{ slide.text|raw }}
                    <div class="swiper-lazy-preloader"></div>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-footer">
            <div class="lang-panel">
                <div class="lang {% if app.request.locale == 'ru' %}active{% endif %}">
                    <a href="{{ path('index', {_locale: 'ru'}) }}">
                        RU
                    </a>
                </div>
                <div class="lang {% if app.request.locale == 'en' %}active{% endif %}">
                    <a href="{{ path('index', {_locale: 'en'}) }}">
                        EN
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="popular_products-wrapper">
        <div class="popular_products-title">{{ 'home.popular_products'|trans }}</div>
        {% include 'elements/products_grid.html.twig' %}
    </div>
    <div class="popular_categories-wrapper">
        <div class="popular_categories-title">
            {{ 'home.popular_categories'|trans }}
            <a href="{{ path('main_categories') }}" class="all_categories">{{ 'home.all_categories'|trans }}</a>
        </div>
        {% include 'elements/categories_grid.html.twig' %}
        <a href="{{ path('main_categories') }}" class="all_categories-mobile">{{ 'home.all_categories'|trans }}</a>
    </div>
    <div class="blog-wrapper">
        <div class="blog-title">{{ 'home.blog'|trans }}</div>
        {% include 'elements/blog_grid.html.twig' %}
        <a href="{{ path('blog_index') }}" class="to_blog">{{ 'home.to_blog'|trans }}</a>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="{{ asset('js/index_page.js') }}"></script>
{% endblock %}
