{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/index_page.css') }}">
{% endblock %}
{% block body %}
    <div class="swiper-container">
        <div class="header">
            <input type="checkbox" id="menuToggle" autocomplete="off">
            <label for="menuToggle" class="menuOpen">
                <div class="open"></div>
            </label>
            <div class="menu menuEffects">
                <div class="menuContent">
                        <a href="#">Продукция</a>
                        <a href="#">О Нас</a>
                        <a href="#">Блог</a>
                        <a href="#">Контакты</a>
                </div>
            </div>
            <div class="logo">
                MDIClogo
            </div>
            <div class="cart-trigger">
                <img src="{{ asset('img/icons/cart.png') }}">
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
            <div class="swiper-slide" style="background: url('/img/carousel/pawel-czerwinski-2Y8ol_OBS1I-unsplash 1.png') center / cover no-repeat;">
                Мы - онлайн аптека Продукция и Блог товаров для надежной защиты вашего здоровья
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-footer">
            <div class="lang-panel">
                <div class="lang active">RU</div>
                <div class="lang">EN</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="popular_products-wrapper">
        <div class="popular_products-title">Популярные товары</div>
        <div class="popular_products-grid">
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="col-3 popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
            <div class="popular_products-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">
                    Но-шпа ( Ношпа )
                </div>
                <div class="price">
                    80.50 $
                </div>
                <div class="add_to_cart">
                    <img class="cart_img" src="{{ asset('img/icons/add_to_cart.png') }}">
                    В КОРЗИНУ
                </div>
            </div>
        </div>
    </div>
    <div class="popular_categories-wrapper">
        <div class="popular_categories-title">
            Популярные категории
            <a href="#" class="all_categories">ВСЕ КАТЕГОРИИ</a>
        </div>
        <div class="popular_categories-grid">
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
            <div class="popular_categories-grid_item">
                <img class="image" src="{{ asset('img/products/83 1.png') }}">
                <div class="title">Мази</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="{{ asset('js/index_page.js') }}"></script>
{% endblock %}
