{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('stylesheets/checkout/cart.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="title">Cart</h1>
    <div class="cart">
        <div class="cart_list">
            {% for product in products %}
                <div class="item">
                    <img src="{{ product.image }}">
                    <div class="name">{{ product.title }}</div>
                    <div class="info">
                        <div class="quantity" data-id="${product.id}">
                            <span class="minus">-</span><span class="number">{{ product.cartAmount }}</span><span class="plus">+</span>
                        </div>
                        <div class="total">${{ product.price*product.cartAmount }}</div>
                    </div>
                    <div class="close">✖</div>
                </div>
            {% endfor %}
        </div>
        <div class="conclussion">
            <div class="total">
                Total:<span>${{ total }}</span>
            </div>
            <a href="{{ path('checkout_index') }}" class="to_cart">Proceed to checkout</a>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
