{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/checkout/history.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1>Мои заказы</h1>
    <div class="history_wrapper">
        <div class="history_item done">
            <div class="header">
                <div class="info">
                    <div class="number"><span></span>#563793428</div>
                    <div class="date">25 апреля 2019 03:47</div>
                </div>
                <div class="status">ВЫПОЛНЕН</div>
            </div>
            <div class="body_wrapper">
                <div class="body">
                    <div class="full_info">
                        <div class="list">
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                        </div>
                        <div class="summary">
                            <div class="shipping_info">
                                <h2>Shipping Details:</h2>
                                <div class="name">Dzhezar</div>
                                <div class="email">qq@qq.com</div>
                                <div class="address">street/city/state/zip</div>
                                <div class="phone">111111</div>
                            </div>
                            <div class="payment_info">
                                <h2>Payment Details:</h2>
                                <div class="subtotal">Subtotal: <span>$11</span></div>
                                <div class="delivery">Delivery: <span>$1</span></div>
                                <div class="delivery">Total Before Tax: <span>$24</span></div>
                                <div class="delivery">Estimated tax: <span>$12</span></div>
                                <div class="total">Total: <span>$11111</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="status_wrapper">
                        <div class="title">Статус заказа</div>
                        <div class="status done" data-status="done"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_item">
            <div class="header">
                <div class="info">
                    <div class="number"><span></span>#563793428</div>
                    <div class="date">25 апреля 2019 03:47</div>
                </div>
                <div class="status">ОТМЕНЕН</div>
            </div>
            <div class="body_wrapper">
                <div class="body">
                    <div class="full_info">
                        <div class="list">
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                        </div>
                        <div class="summary">
                            <div class="shipping_info">
                                <h2>Shipping Details:</h2>
                                <div class="name">Dzhezar</div>
                                <div class="email">qq@qq.com</div>
                                <div class="address">street/city/state/zip</div>
                                <div class="phone">111111</div>
                            </div>
                            <div class="payment_info">
                                <h2>Payment Details:</h2>
                                <div class="subtotal">Subtotal: <span>$11</span></div>
                                <div class="delivery">Delivery: <span>$1</span></div>
                                <div class="delivery">Total Before Tax: <span>$24</span></div>
                                <div class="delivery">Estimated tax: <span>$12</span></div>
                                <div class="total">Total: <span>$11111</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="status_wrapper">
                        <div class="title">Статус заказа</div>
                        <div class="status cancel" data-status="cancel"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="history_item done">
            <div class="header">
                <div class="info">
                    <div class="number"><span></span>#563793428</div>
                    <div class="date">25 апреля 2019 03:47</div>
                </div>
                <div class="status">ВЫПОЛНЕН</div>
            </div>
            <div class="body_wrapper">
                <div class="body">
                    <div class="full_info">
                        <div class="list">
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                            <div class="list_item">
                                <img src="{{ asset('img/products/83 1.png') }}">
                                <div class="information">
                                    <div class="title">Но-шпа Но-шпа ( Ношпа ) ношпа ношпа( Ношпа ) ношпа</div>
                                    <div class="price">80.50 $</div>
                                    <div class="total">1шт / 80.50 $</div>
                                </div>
                            </div>
                        </div>
                        <div class="summary">
                            <div class="shipping_info">
                                <h2>Shipping Details:</h2>
                                <div class="name">Dzhezar</div>
                                <div class="email">qq@qq.com</div>
                                <div class="address">street/city/state/zip</div>
                                <div class="phone">111111</div>
                            </div>
                            <div class="payment_info">
                                <h2>Payment Details:</h2>
                                <div class="subtotal">Subtotal: <span>$11</span></div>
                                <div class="delivery">Delivery: <span>$1</span></div>
                                <div class="delivery">Total Before Tax: <span>$24</span></div>
                                <div class="delivery">Estimated tax: <span>$12</span></div>
                                <div class="total">Total: <span>$11111</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="status_wrapper">
                        <div class="title">Статус заказа</div>
                        <div class="status done" data-status="done"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/checkout_history.js') }}"></script>
{% endblock %}
