{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/checkout/history.css') }}?v={{ fileVersion }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/checkout/history-responsive.css') }}?v={{ fileVersion }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1>{{ 'history.my_orders'|trans }}</h1>
    <div class="history_wrapper">
        {% for order in orders %}
            <div class="history_item {{ order.status == 'success' ? 'done' }}">
            <div class="header">
                <div class="info">
                    <div class="number"><span></span>#{{ order.id }}</div>
                    <div class="date">{{ order.dateCreated|date('Y-m-d') }}</div>
                </div>
                <div class="status">{{ order.statusText }}</div>
            </div>
            <div class="body_wrapper">
                <div class="body">
                    <div class="full_info">
                        <div class="list">
                            {% for product in order.orderData.products %}
                                <div class="list_item">
                                    <img src="{{ product.image }}">
                                    <div class="information">
                                        <div class="title">{{ product.title }}</div>
                                        <div class="price">${{ product.price }}</div>
                                        <div class="total">{{ product.cartAmount }}{{ 'history.pieces'|trans }} / ${{ product.cartAmount*product.price }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="summary">
                            <div class="shipping_info">
                                <h2>{{ 'history.shipping_details'|trans }}:</h2>
                                <div class="name">{{ order.fullName }}</div>
                                <div class="email">{{ order.email }}</div>
                                <div class="address">{{ order.street }}/{{ order.city }}/{{ order.state }}/{{ order.zip }}</div>
                                <div class="phone">{{ order.phone }}</div>
                            </div>
                            <div class="payment_info">
                                <h2>{{ 'history.payment_details'|trans }}:</h2>
                                <div class="subtotal">Subtotal: <span>${{ order.orderData.total }}</span></div>
                                <div class="delivery">Delivery: <span>${{ order.orderData.shipping_price }}</span></div>
                                <div class="delivery">Total Before Tax: <span>${{ order.orderData.total_before_tax }}</span></div>
                                <div class="delivery">Estimated tax: <span>${{ order.orderData.tax }}</span></div>
                                <div class="total">Total: <span>${{ order.orderData.total_with_tax }}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="status_wrapper">
                        <div class="title">{{ 'history.order_status'|trans }}</div>
                        <div class="status {{ order.status == 'success' ? 'done' }}" data-status="{{ order.statusText }}"></div>
                        {% if order.paymentLink is not empty %}
                            <a class="pay" href="{{ order.paymentLink }}">Оплатить</a>
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/checkout_history.js') }}?v={{ fileVersion }}"></script>
{% endblock %}
