{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/checkout/main.css') }}">
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="page_title">Оформление заказа</h1>
    <div class="checkout_wrapper">

        <div class="checkout_details">
            <h2 class="shipping_title">Shipping details</h2>
            <form id="qq">
                <div class="row">
                    <label class="half-w">
                        Full Name
                        <input type="text" name="full_name" value="qqqq">
                    </label>
                    <label class="half-w">
                        Email
                        <input type="email" name="email" value="qq@qq.com">
                    </label>
                </div>
                <label>
                    Street Address
                    <input type="text" name="address">
                </label>
                <div class="row">
                    <label class="half-w">
                        City/Town
                        <input type="text" name="city/town">
                    </label>
                    <label class="half-w">
                        State
                        <select style="height: 36px;" name="state">
                            <option>North Dacota</option>
                            <option>California</option>
                            <option>Washington</option>
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label class="half-w">
                        Zip Code
                        <input type="text" name="zip">
                    </label>
                    <label class="half-w">
                        Phone
                        <input type="tel" name="phone">
                    </label>
                </div>
            </form>
            <div class="payment_select">
                <h2>Payment Selection</h2>
                <label>
                    <input type="radio">
                    Paypal
                </label>
                <label>
                    <input type="radio">
                    Card
                </label>
            </div>
            <div class="place_order">Place Order</div>
        </div>
        <div class="cart">
            <div class="cart_info">
                4 items <a href="#">Edit</a>
            </div>
            <div class="list">
                <div class="cart_item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="title">Но-шпа ( Ношпа )</div>
                        <div class="price">1шт / 80.50 $</div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="title">Но-шпа ( Ношпа )</div>
                        <div class="price">1шт / 80.50 $</div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="title">Но-шпа ( Ношпа )</div>
                        <div class="price">1шт / 80.50 $</div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="{{ asset('img/products/83 1.png') }}">
                    <div class="info">
                        <div class="title">Но-шпа ( Ношпа )</div>
                        <div class="price">1шт / 80.50 $</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="price_details">
                <div class="subtotal">Subtotal: <span>$111</span></div>
                <div class="delivery">Delivery: <span>$32</span></div>
                <div class="total">Total: <span>$11111</span></div>
            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        console.log($('form#qq').serialize());
    </script>
{% endblock %}
