{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/checkout/main.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/checkout/main-responsive.css') }}">
    <style>
        .form-error {
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="page_title">Оформление заказа</h1>
    <div class="checkout_wrapper">

        <div class="checkout_details">
            <h2 class="shipping_title">Shipping details</h2>
            <form id="checkout">
                <div class="row">
                    <label class="half-w">
                        Full Name
                        <input type="text" name="full_name">
                    </label>
                    <label class="half-w">
                        Email
                        <input type="email" name="email">
                    </label>
                </div>
                <label>
                    Street Address
                    <input class="search" data-type="address" type="text" name="address">
                </label>
                <div class="row">
                    <label class="half-w">
                        City/Town
                        <input class="search" data-type="city" type="text" name="city">
                    </label>
                    <label class="half-w">
                        State
                        <input class="search" data-type="state" type="text" name="state">
                    </label>
                </div>
                <div class="row">
                    <label class="half-w">
                        Zip Code
                        <input type="text" name="zip">
                    </label>
                    <label class="half-w">
                        Phone
                        <input type="tel" name="phone">
                    </label>
                </div>
                <div class="payment_select">
                    <h2>Payment Selection</h2>
                    <label>
                        <input name="payment" value="paypal" type="radio" checked>
                        <span class="checkmark"></span>
                        Paypal
                    </label>
                    <label>
                        <input name="payment" value="card" type="radio">
                        <span class="checkmark"></span>
                        Card
                    </label>
                </div>
                <input type="hidden" name="language" value="{{ app.request.locale }}">
            </form>
            <div id="paypal-button-container"></div>
            <div class="price_details mobile">
                <div class="subtotal">Subtotal: <span>${{ total | round(1,'common') }}</span></div>
                <div class="delivery">Delivery: <span>${{ shipping_price | round(1,'common') }}</span></div>
                <div class="delivery">Total Before Tax: <span>{{ total_before_tax | round(1,'common') }}</span></div>
                <div class="delivery">Estimated tax: <span>{{ tax | round(1,'common') }}</span></div>
                <div class="total">Total: <span>${{ total_with_tax | round(1,'common') }}</span></div>
            </div>
            <div class="place_order">Place Order</div>
        </div>
        <div class="cart">
            <div class="cart_info">
                {{ amount }} items <a href="#">Edit</a>
            </div>
            <div class="list">
                {% for product in products %}
                    <div class="cart_item">
                    <img src="{{ product.image }}">
                    <div class="info">
                        <div class="title">{{ product.title }}</div>
                        <div class="price">{{ product.cartAmount }}шт / ${{ product.price }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="price_details">
                <div class="subtotal">Subtotal: <span>${{ total | round(1,'common') }}</span></div>
                <div class="delivery">Delivery: <span>${{ shipping_price | round(1,'common') }}</span></div>
                <div class="delivery">Total Before Tax: <span>{{ total_before_tax | round(1,'common') }}</span></div>
                <div class="delivery">Estimated tax: <span>{{ tax | round(1,'common') }}</span></div>
                <div class="total">Total: <span>${{ total_with_tax | round(1,'common') }}</span></div>
            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script data-order-id="{{ id }}"
            src="https://www.paypal.com/sdk/js?client-id=AecLKlCawKIIK-SE-cJdzOm7wiK4r-N7WA6GC-pMLgL7MBc63aLUtGvFOOtFkB5oeunFTHNlzGyz-TrI"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
{#    <script src="https://js.braintreegateway.com/web/3.62.0/js/client.min.js"></script>#}
{#    <script src="https://js.braintreegateway.com/web/3.62.0/js/paypal-checkout.min.js"></script>#}
    <script src="{{ asset('js/checkout.js') }}"></script>
{% endblock %}
