{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stylesheets/checkout/main.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/responsive/checkout/main-responsive.css') }}">
    <style>
        .form-error {
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'elements/header.html.twig' %}
    <h1 class="page_title">{{ 'checkout.order_checkout'|trans }}</h1>
    <div class="checkout_wrapper">

        <div class="checkout_details">
            <h2 class="shipping_title">{{ 'history.shipping_details'|trans }}</h2>
            <form id="checkout">
                <div class="row">
                    <label class="half-w">
                        {{ 'checkout.full_name'|trans }}
                        <input type="text" name="full_name">
                    </label>
                    <label class="half-w">
                        Email
                        <input type="email" name="email">
                    </label>
                </div>
                <label>
                    {{ 'checkout.street'|trans }}
                    <input class="search" data-type="address" type="text" name="address">
                </label>
                <div class="row">
                    <label class="half-w">
                        {{ 'checkout.city'|trans }}
                        <input class="search" data-type="city" type="text" name="city">
                    </label>
                    <label class="half-w">
                        {{ 'checkout.state'|trans }}
                        <select name="state">
                            {% for state in states %}
                                <option value="{{ state.code }}">{{ state.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="row">
                    <label class="half-w">
                        {{ 'checkout.zip'|trans }}
                        <input type="text" name="zip">
                    </label>
                    <label class="half-w">
                        {{ 'checkout.phone'|trans }}
                        <input type="tel" name="phone">
                    </label>
                </div>
                <input type="hidden" name="language" value="{{ app.request.locale }}">
            </form>
            <div id="paypal-button-container"></div>
            <div class="price_details mobile">
                <div class="subtotal">{{ 'checkout.subtotal'|trans }}: <span>${{ total | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.delivery'|trans }}: <span>${{ shipping_price | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.total_before_tax'|trans }}: <span>${{ total_before_tax | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.estimated_tax'|trans }}: <span>${{ tax | round(1,'common') }}</span></div>
                <div class="total">{{ 'checkout.total'|trans }}: <span>${{ total_with_tax | round(1,'common') }}</span></div>
            </div>
            <div class="place_order">{{ 'checkout.place_order'|trans }}</div>
        </div>
        <div class="cart">
            <div class="cart_info">
                {{ amount }} {{ 'history.pieces'|trans }} <a href="{{ path('cart') }}">Edit</a>
            </div>
            <div class="list">
                {% for product in products %}
                    <div class="cart_item">
                    <img src="{{ product.image }}">
                    <div class="info">
                        <div class="title">{{ product.title }}</div>
                        <div class="price">{{ product.cartAmount }}шт / ${{ product.price }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="price_details">
                <div class="subtotal">{{ 'checkout.subtotal'|trans }}: <span>${{ total | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.delivery'|trans }}: <span>${{ shipping_price | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.total_before_tax'|trans }}: <span>${{ total_before_tax | round(1,'common') }}</span></div>
                <div class="delivery">{{ 'checkout.estimated_tax'|trans }}: <span>${{ tax | round(1,'common') }}</span></div>
                <div class="total">{{ 'checkout.total'|trans }}: <span>${{ total_with_tax | round(1,'common') }}</span></div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div class="payment_variants">
            <div class="variants">
                <a href="#" id="to_payment">{{ 'checkout.pay_now'|trans }}</a>
                <a onclick="window.location.href='{{ path('orders_history') }}'" class="to_history">{{ 'checkout.review_order'|trans }}</a>
            </div>
        </div>
    </div>
    {% include 'elements/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/checkout.js') }}"></script>
{% endblock %}
